body {
    background-image: url('/img/background1.png');
    margin: 0 auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img.flag {
    width: 60%;
}

img.mine {
    width: 75%;
}

h1 {
    text-align: center;
}

/* .card-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    height: inherit;
    background-color: rgb(74, 77, 83);
    margin: auto;

    
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: linear-gradient(to bottom, #f7f6f4 5%, #040301 100%);
    border-radius: 11px;
    border: 2px solid #c5c5c5;
    cursor: pointer;
    color: #010101;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
    text-decoration: none;
} */


.timer-container {
    display: table;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 10px;
}

table td {
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #a09e9d;
    color: rgb(16, 10, 10);
    border: 2px solid #180a0a;
    cursor: pointer;   
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

.states-container {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

td.selected {
    background-color: white;
    font-style: italic;
    color: darkslategray;
    opacity: 0.85;
}

.res-msg {
    text-align: center;
}

.restart {
    display: block;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.difficulty-container {
    text-align: center;
    color: black;
}

.btn {
    height:35px;
    width:100px;
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background: linear-gradient(to bottom, #f7f6f4 5%, #403f3c 100%);
    border-radius: 11px;
    border: 2px solid #c5c5c5;
    display: inline-block;
    cursor: pointer;
    color: #010101;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 18px;
    text-decoration: none;
    /* text-shadow: 0px 1px 0px #d7de54; */
}

.btn:hover {
    background: linear-gradient(to bottom, #403f3c 5%, #ebe9e6 100%);
    background-color: #151311;
    /* opacity: 0.5; */
}

.btn:active {
    position: relative;
    top: 1px;
}